---
import "@/styles/global.css";

import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import Navbar from "@/layout/components/Navbar.astro";
import Header from "@/layout/components/Header.astro";

type Props = {
  enableClientRouter?: boolean;
};

const { enableClientRouter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <Font cssVariable="--font-inter" preload />

    {enableClientRouter && <ClientRouter />}
  </head>
  <body class="bg-gray-50 min-h-svh flex text-gray-800">
    <Navbar />

    <div class="flex flex-col flex-1">
      <Header />

      <main class="flex-1 py-8 px-12">
        <slot />
      </main>
    </div>
  </body>
</html>
